{% extends "workout/layout.html" %}

{% block body %}
    <div class="buttons_header">Choose your work/rest ratio</div>
    <div class="boxes">
        <a class="link" href="{% url 'ratio' 45 15%}"><div class="box"><span class="first">45</span>/<span class="last">15</span></div></a>
        <a class="link" href="{% url 'ratio' 20 10%}"><div class="box"><span class="first">20</span>/<span class="last">10</span></div></a>
        <a class="link" href="{% url 'ratio' 30 30%}"><div class="box"><span class="first">30</span>/<span class="last">30</span></div></a>  
    </div>
{% endblock %}