{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %} Workout {% endblock %}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{% static 'workout/styles/styles.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'workout/images/icons8-sport-96.ico' %}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Graduate&family=Monoton&&family=Inconsolata&display=swap" rel="stylesheet">

    {% block script %}{% endblock %}
    <script src="{% static 'workout/scripts/music.js' %}"></script>
    <style>
        .popover{
            font-family: 'Graduate', sans-serif;
            font-weight: 600;
        }
    </style>
</head>
<body class="body_element">
    <div class="navigation_bar">
        <div class="upper_items">
            <div class="logo"><a href="{% url 'index' %}"><img src="{% static 'workout/images/workout-low-resolution-logo-color-on-transparent-background (2).png'%}" width="110px"></a></div>
            <a class="link" href="{% url 'ratio' 40 15%}"><div class="toggle_btn">40/15</div></a>
            <a class="link" href="{% url 'ratio' 20 10%}"><div class="toggle_btn">20/10</div></a>
            <a class="link" href="{% url 'ratio' 30 30%}"><div class="toggle_btn">30/30</div></a>
        </div>
        <div class="lower_items">
            {% if user.is_authenticated %}
                <a href="{% url 'user_history'%}"  data-bs-toggle="popover" data-bs-placement="right" data-bs-content="Workout History" data-bs-trigger="hover focus">
                    <div class="toggle_btn history">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="white" class="bi bi-clock" viewBox="0 0 16 16">
                        <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                        </svg>
                    </div>
                </a>
            {% endif %}
        </div>
    </div>

    <div class="header">
        {% block heading %} 
            <div class="heading">Get started<br>NOW!</div>
        {% endblock %}
        <div>
            <img src="{% static 'workout/images/workout-low-resolution-logo-color-on-transparent-background (2).png'%}" width="180px">
        </div>
    </div>

    {% block body %}
    {% endblock %}
    <div class="footer">
        {% if user.is_authenticated %}
            <div><a class="link f_link" href="{% url 'logout'%}">Logout</a></div>
        {% else %}
            <div class="fotter_link"><a class="link f_link" href="{% url 'login'%}">Login</a></div>
            <div class="fotter_link"><a class="link f_link" href="{% url 'register'%}">Register</a></div>
        {% endif %}
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    <script>
        const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
        const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
    </script>
</body> 
</html>