{% extends "workout/layout.html" %}

{% block title %}Workout music{% endblock %}

{% block script %}
    <script>
        // initialize url that user will be redirected to in case of choosing youtube video
        let redirectUrl = "{% url 'player' work=work rest=rest time=time type='youtube' music_id='__music_id__'%}";
    </script>;
{% endblock %}

{% block body %}
    <div class="buttons_header">Choose your music</div>


    <form method="post" enctype="multipart/form-data" class="mp3_form">
        {% csrf_token %}
        {{ form }}
    </form>


    <label for="youtube_url"class="label mt-5">paste YouTube url and hit Enter:</label>   
    <input type="text" class="music_input"id="youtube_url" placeholder="https://www.youtube.com/watch?v=YOUR_VIDEO_ID">  
    <script>
         function playFile(event) {
            //  get the selected file from the event
            const file = event.target.files[0];
            // get audio player by its id
            const audioPlayer = document.getElementById('audio_player');
            // create filereader object to read the content of selected file
            const fileReader = new FileReader();
            
            // when the reading is done
            fileReader.onload = function(event) {
                // get the url of the read file
                audioPlayer.src = event.target.result;
                // play the file
                audioPlayer.play();
            }
            // read the file as url
            fileReader.readAsDataURL(file);
        }
    </script>
{% endblock %}