{% extends "workout/layout.html" %}

{% block script %}
    <script>
        let redirectUrl = "{% url 'player' work=work rest=rest time=time music_id='__music_id__'%}";
    </script>;
{% endblock %}

{% block body %}
    <div class="buttons_header">Choose your music</div>

    <label for="youtube_url"class="label mt-5">paste YouTube url and hit Enter:</label>   
    <input type="text" class="music_input"id="youtube_url" placeholder="https://www.youtube.com/watch?v=YOUR_VIDEO_ID">  
{% endblock %}