{% extends "workout/layout.html" %}
{% load static %}
{% block heading %}
    <div class="heading">crush IT !!!</div>
{% endblock %}

{% block body %}
<audio class="b1" src="{% static 'workout/mixkit-digital-quick-tone-2866.wav' %}" ></audio>
<audio class="b2" src="{% static 'workout/1573487120_fad402838ffc2a5.mp3' %}"></audio>
<div class="player">
        <div class="time_info">
            <div class="timer">{{work}}</div>
            <div class="time_left">
                {% if time == 60 %}
                01:00:00
                {% else %}
                {{time}}:00
                {% endif %}
            </div>
            <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" style="width:120%"aria-valuemax="100">
                <div class="progress-bar bg-neon" style="width: 0%">0%</div>
            </div>
            <div class="btn-group mt-4">
                <button data-work={{work}} data-rest={{rest}} data-time={{time}} class="start button button_toggle me-4">start</button>
                <button class="pause button button_toggle me-4">pause</button>
                <button class="stop button button_toggle">stop</button>
            </div>
        </div>
    
        <div><iframe width="420" height="280" src="https://www.youtube.com/embed/{{ id }}" frameborder="0" allowfullscreen></iframe></div>
        
    </div>
    <script>
        const sound1 = "1573487120_fad402838ffc2a5.mp3";
        const sound2 = "mixkit-digital-quick-tone-2866.wav";
    </script>
    <script src="{% static 'workout/timer.js' %}"></script>
{% endblock %}