.info{
    @include font1(14px, $white);
    @media (max-width:800px) {
        white-space: nowrap;
        font-size: 16px;
        margin-top:20px;
    }
    letter-spacing: 2px;
    .info_link{
        color:$neon_pink;
        &:hover{
            color: $neon_blue
        }
    }
}
form{
    text-align: center;
    @media (max-width:800px) {
        width:100vw;
    }
    margin-top:60px;
    .form-control{
        margin: 10px 0px;
        &:focus{
            box-shadow: 0 0 0 0.1rem $neon_pink
        }
    }
}
.button_submit{
    @include font1(15px, $white);
    font-weight: 600;
    padding: 10px 30px;
    background-color: black;
    border: 3px solid $white;
    margin: 20px 0px;
    @include transition(transform);
    &:hover{
        transform: scale(1.03);
    }
}
.message{
    @include font1(15px, red);
}