// style the layout

@import"./variables";
@import"./forms";
@import"./boxButtons";
@import"./player";

@keyframes SlideIn{
    0%{
        transform:translateX(-300px);
    }
    100%{
        transform:translateX(0);
    }

}
.body_element{
    background-color: $black;
    height:100%;
    padding-top: 20px;
    @media(max-width:1024px){
        padding-left: $nav_bar_width + 30px;
        padding-right: 60px; 
    }
    @media(min-width:1025px){
        padding-left: $nav_bar_width + 90px;
        padding-right: 90px; 
    }
}
.navigation_bar{
    @include flexBetween(column);
    @include font1(25px, $white);
    box-shadow:$pink-shadow;
    background-color: $gray;
    height:100%;
    width:$nav_bar_width;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    .toggle_btn{
        @media(max-width:1024px){
            height:150px;
            line-height: 150px;
            margin-top: 30px;
        }
        @media(min-width:1025px){
            height: 100px;
            line-height: 100px;
            margin-top: 15px;
        }
        width: $nav_bar_width;
        background-color: $light_gray;
        cursor: pointer;
        @include transition(all);
        &:hover{
            color:$neon_blue;
            box-shadow: 1.9px 3px 8px rgba(0, 0, 0, 0.4);
        }
    }
    .bi-clock{
        @include transition(fill);
    }
    .history{
        &:hover{
            .bi-clock{
                fill:$neon_blue
            }
        }
    }
}
.header{
    width:100%;
    @include flexBetween(row);
    @media(max-width:1024px){
        padding-right:0px;
    }
    @media(min-width:1025px){

        padding-right:50px;  
        
    }
    .heading{
        @include font2();
    }
}
.footer{
    width:auto;
    position: fixed;
    bottom: 15px;
    right: 60px;
    @include flexBetween(row);
    @include font1(20px, $white);
    @media(max-width:1024px){
        height:100px;
        font-size: 30px;
        margin-top: 20px;
    }
    .footer_link{
        margin-left:5px;
    }
    .f_link{
        color:inherit;
        &:hover{
            color: $neon_pink;
        }
    }
}
.link{
    @include transition(color);
    color:white;
    text-decoration: none; 
}
.history_div{
    padding-bottom: 80px;
}