.info {
  font-family: "Graduate", sans-serif;
  line-height: 150%;
  letter-spacing: 4px;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 2px;
}
@media (max-width: 800px) {
  .info {
    white-space: nowrap;
    font-size: 16px;
    margin-top: 20px;
  }
}
.info .info_link {
  color: #FF0099;
}
.info .info_link:hover {
  color: #00FFF0;
}

form {
  text-align: center;
  margin-top: 60px;
}
@media (max-width: 800px) {
  form {
    width: 100vw;
  }
}
form .form-control {
  margin: 10px 0px;
}
form .form-control:focus {
  box-shadow: 0 0 0 0.1rem #FF0099;
}

.button_submit {
  font-family: "Graduate", sans-serif;
  line-height: 150%;
  letter-spacing: 4px;
  text-align: center;
  font-size: 15px;
  color: #ffffff;
  font-weight: 600;
  padding: 10px 30px;
  background-color: black;
  border: 3px solid #ffffff;
  margin: 20px 0px;
  transition: transform 0.3s;
}
.button_submit:hover {
  transform: scale(1.03);
}

.message {
  font-family: "Graduate", sans-serif;
  line-height: 150%;
  letter-spacing: 4px;
  text-align: center;
  font-size: 15px;
  color: red;
}

.buttons_header {
  font-family: "Graduate", sans-serif;
  line-height: 150%;
  letter-spacing: 4px;
  text-align: center;
  font-size: 15px;
  color: #ffffff;
  border-left: 4px solid #00FFF0;
  margin-top: 40px;
  text-align: left;
  padding: 5px 15px;
  animation: SlideIn 2s;
}
@media (max-width: 1024px) {
  .buttons_header {
    font-size: 20px;
    font-weight: 700;
    white-space: nowrap;
    margin-top: 70px;
    margin-bottom: 60px;
  }
}

.boxes {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  font-family: "Graduate", sans-serif;
  line-height: 150%;
  letter-spacing: 4px;
  text-align: center;
  font-size: 36px;
  color: white;
}
.boxes .box {
  font-family: "Graduate", sans-serif;
  line-height: 150%;
  letter-spacing: 4px;
  text-align: center;
  font-size: 50px;
  color: white;
  cursor: pointer;
  transition: transform 0.8s;
  width: 220px;
  height: 220px;
  line-height: 220px;
  background-color: #2D2D2D;
  border-radius: 30px;
}
.boxes .box:hover {
  transform: translateY(-15px);
  transition: transform 0.3s;
}
.boxes .box .first {
  color: #00FFF0;
}
.boxes .box .last {
  color: #FF0099;
}
.boxes .box_sm {
  cursor: pointer;
  transition: transform 0.8s;
  width: 280px;
  height: 100px;
  line-height: 100px;
  background-color: #2D2D2D;
  border-radius: 50px;
}
.boxes .box_sm:hover {
  transform: translateY(-15px);
  transition: transform 0.3s;
}
.boxes .box_sm .first {
  color: #00FFF0;
}
.boxes .box_sm .last {
  color: #FF0099;
}
@media (max-width: 700px) {
  .boxes {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 150vw;
    justify-content: center;
    align-items: center;
  }
  .boxes .box {
    cursor: pointer;
    transition: transform 0.8s;
    width: 120vw;
    height: 220px;
    line-height: 220px;
    background-color: #2D2D2D;
    border-radius: 30px;
  }
  .boxes .box:hover {
    transform: translateY(-15px);
    transition: transform 0.3s;
  }
  .boxes .box .first {
    color: #00FFF0;
  }
  .boxes .box .last {
    color: #FF0099;
  }
  .boxes .box_sm {
    cursor: pointer;
    transition: transform 0.8s;
    width: 120vw;
    height: 100px;
    line-height: 100px;
    background-color: #2D2D2D;
    border-radius: 50px;
  }
  .boxes .box_sm:hover {
    transform: translateY(-15px);
    transition: transform 0.3s;
  }
  .boxes .box_sm .first {
    color: #00FFF0;
  }
  .boxes .box_sm .last {
    color: #FF0099;
  }
}

.music_input {
  text-align: center;
  width: 100%;
  height: 80px;
  background-color: #2D2D2D;
  border: none;
  border-radius: 50px;
  padding-left: 20px;
  font-family: "Graduate", sans-serif;
  line-height: 150%;
  letter-spacing: 4px;
  text-align: center;
  font-size: 18px;
  color: #FF0099;
  transition: border 0.3s;
}
@media (max-width: 1024px) {
  .music_input {
    height: 100px;
    width: 600px;
    letter-spacing: 1px;
  }
}
.music_input:hover {
  border: 2px solid #FF0099;
}

.label {
  font-family: "Graduate", sans-serif;
  line-height: 150%;
  letter-spacing: 4px;
  text-align: center;
  font-size: 15px;
  color: #00FFF0;
  margin: 35px 0px 10px 10px;
}
@media (max-width: 1024px) {
  .label {
    font-size: 20px;
    white-space: nowrap;
  }
}

.mp3_form {
  margin-top: 10px;
}

.mp3_form label {
  font-family: "Graduate", sans-serif;
  line-height: 150%;
  letter-spacing: 4px;
  text-align: center;
  font-size: 20px;
  color: #FF0099;
  cursor: pointer;
  transition: transform 0.8s;
  width: 100%;
  height: 70px;
  line-height: 70px;
  background-color: #2D2D2D;
  border-radius: 50px;
}
.mp3_form label:hover {
  transform: translateY(-15px);
  transition: transform 0.3s;
}
.mp3_form label .first {
  color: #00FFF0;
}
.mp3_form label .last {
  color: #FF0099;
}

.mp3_form input {
  display: none;
}

.player {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  justify-content: center;
  gap: 120px;
}
@media (max-width: 767px) {
  .player {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100vw;
    gap: 100px;
    margin-top: 80px;
  }
  .player iframe {
    width: 390px;
  }
}
@media (min-width: 768px) and (max-width: 1025px) {
  .player {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100vw;
    height: 600px;
    gap: 80px;
    margin-top: 100px;
  }
}

.timer {
  font-family: "Monoton", sans-serif;
  font-size: 60px;
  letter-spacing: 5px;
  word-spacing: 20px;
  line-height: 140%;
  text-align: left;
  color: #ffffff;
  background-color: #3C3C3C;
  padding: 30px;
  border-radius: 20px;
}

.time_info {
  margin-left: 30px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
  text-align: center;
}
@media (max-width: 767px) {
  .time_info {
    width: 300px;
  }
}

.time_left {
  font-family: "Graduate", sans-serif;
  line-height: 150%;
  letter-spacing: 4px;
  text-align: center;
  font-size: 40px;
  color: white;
}

.bg-neon {
  background-color: #FF0099 !important;
}

.button_toggle {
  font-family: "Graduate", sans-serif;
  line-height: 150%;
  letter-spacing: 4px;
  text-align: center;
  font-size: 15px;
  color: white;
  background-color: #2D2D2D;
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
  transition: all 0.3s;
}
.button_toggle:hover {
  color: #00FFF0;
  background-color: #3C3C3C;
}

@keyframes SlideIn {
  0% {
    transform: translateX(-300px);
  }
  100% {
    transform: translateX(0);
  }
}
.body_element {
  background-color: #111111;
  height: 100%;
  padding-top: 20px;
}
@media (max-width: 1024px) {
  .body_element {
    padding-left: 180px;
    padding-right: 60px;
  }
}
@media (min-width: 1025px) {
  .body_element {
    padding-left: 240px;
    padding-right: 90px;
  }
}

.navigation_bar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-family: "Graduate", sans-serif;
  line-height: 150%;
  letter-spacing: 4px;
  text-align: center;
  font-size: 25px;
  color: #ffffff;
  box-shadow: 1px 5px 30px rgba(210, 23, 135, 0.4901960784);
  background-color: #2D2D2D;
  height: 100%;
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}
.navigation_bar .toggle_btn {
  width: 150px;
  background-color: #3C3C3C;
  cursor: pointer;
  transition: all 0.3s;
}
@media (max-width: 1024px) {
  .navigation_bar .toggle_btn {
    height: 150px;
    line-height: 150px;
    margin-top: 30px;
  }
}
@media (min-width: 1025px) {
  .navigation_bar .toggle_btn {
    height: 100px;
    line-height: 100px;
    margin-top: 15px;
  }
}
.navigation_bar .toggle_btn:hover {
  color: #00FFF0;
  box-shadow: 1.9px 3px 8px rgba(0, 0, 0, 0.4);
}
.navigation_bar .bi-clock {
  transition: fill 0.3s;
}
.navigation_bar .history:hover .bi-clock {
  fill: #00FFF0;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
@media (max-width: 1024px) {
  .header {
    padding-right: 0px;
  }
}
@media (min-width: 1025px) {
  .header {
    padding-right: 50px;
  }
}
.header .heading {
  font-family: "Monoton", sans-serif;
  font-size: 60px;
  letter-spacing: 5px;
  word-spacing: 20px;
  line-height: 140%;
  text-align: left;
  color: #ffffff;
}

.footer {
  width: auto;
  position: fixed;
  bottom: 15px;
  right: 60px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  font-family: "Graduate", sans-serif;
  line-height: 150%;
  letter-spacing: 4px;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
}
@media (max-width: 1024px) {
  .footer {
    height: 100px;
    font-size: 30px;
    margin-top: 20px;
  }
}
.footer .footer_link {
  margin-left: 5px;
}
.footer .f_link {
  color: inherit;
}
.footer .f_link:hover {
  color: #FF0099;
}

.link {
  transition: color 0.3s;
  color: white;
  text-decoration: none;
}/*# sourceMappingURL=styles.css.map */