.buttons_header{
    @include font1(15px, $white);
    border-left: 4px solid $neon_blue;
    margin-top: 40px;
    text-align: left;
    padding: 5px 15px;
    animation: SlideIn 2s;
}
.boxes{
    @include flexBetween(row);
    margin-top: 40px;
    @include font1(36px, white);
    .box{
        @include font1(50px, white);
        @include box(220px, 220px, 30px);
    }
    .box_sm{
        @include box(280px, 100px, 50px);
    }
}
.box_lg{
    margin-top: 40px;
    @include font1(20px, $neon_pink);
    @include box(100%, 80px, 50px);
}
.music_input{
    text-align: center;
    width:100%;
    height:80px;
    @include font1(18px, $neon_pink);
    background-color: $gray;
    border:none;
    border-radius: 50px;
    padding-left: 20px;
    @include transition(border);
    &:hover{
        border: 2px solid $neon_pink;
    }
}
.file_input{
    display:none;
}
.label{
    @include font1(15px, $neon_blue);
    margin: 35px 0px 10px 10px;   
}